/*General */
@font-face {
  font-family: "shrikhand";
  src: url(../police/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(../police/Roboto-Black.ttf);
}
body {
  font-family: shrikand;
  margin: 0;
  width: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: roboto;
}

/*Header */
.header {
  display: flex;
  flex-direction: column;
}
.header__div {
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  height: 60px;
}
.header__div__link {
  font-style: none;
  color: black;
  margin-right: 25%;
  margin-top: 20px;
  font-size: larger;
}
.header__div__logo {
  height: 40px;
  margin-top: 7px;
}
.header__img {
  object-fit: cover;
  height: 350px;
  z-index: 1;
}

/* Plates */
.plates {
  background-color: #f6f6f6;
  border-radius: 60px 60px 0 0;
  margin-top: -50px;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 1675px;
  display: flex;
  flex-direction: column;
}
.plates__title {
  display: flex;
  font-style: italic;
  margin-left: 10%;
}
.plates__title-i {
  margin-top: 22px;
  font-size: 25px;
  position: absolute;
  margin-left: 70%;
  z-index: 1;
}
.plates__title-i:active {
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.plates__title-i:active + .far {
  display: none;
}
.plates__link {
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  font-size: x-large;
  color: white;
  padding: 40px;
  padding-bottom: 7px;
  padding-top: 12px;
  border-radius: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 30px;
  margin-bottom: 70px;
}

.hidden {
  color: rgba(0, 0, 0, 0);
  z-index: 2;
}

.plateCategory {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  justify-content: space-between;
  width: 100%;
}
.plateCategory__title {
  font-weight: normal;
  color: #1e1e1e;
}
.plateCategory__infos {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  border-radius: 20px;
  width: 80%;
  margin-bottom: 40px;
  justify-content: space-between;
}
.plateCategory__infos-p {
  display: flex;
  justify-content: space-between;
}
.plateCategory__infos-p-prize {
  background: none;
  margin-right: 5%;
}
.plateCategory__infos-title {
  font-size: 20px;
  margin-bottom: 0;
}

/* footer */
.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 1625px;
}
.footer__logo {
  fill: white;
  width: 120px;
  height: 20px;
  margin-bottom: 20px;
}
.footer__p {
  color: white;
  display: flex;
  flex-direction: row;
}
.footer__p-i {
  margin-right: 10px;
  font-size: 15px;
}

.fa-handshake {
  margin-right: 5px;
}

@media (max-width: 380px) {
  .header__div__link {
    margin-right: 15%;
  }

  .header__div__logo {
    height: 35px;
  }

  .plates {
    height: 1700px;
  }

  .footer {
    margin-top: 1650px;
  }
}
@media (min-width: 480px) and (max-width: 778px) {
  .plates__title-i {
    font-size: 30px;
  }
}
@media (min-width: 1050px) {
  .plates {
    flex-direction: row;
    flex-wrap: wrap;
    height: 1100px;
  }
  .plates__title {
    width: 100%;
    height: 30px;
  }
  .plates__link {
    margin-top: 390px;
    margin-left: 10%;
    margin-bottom: 0;
  }

  .plateCategory {
    width: 40%;
    height: 400px;
  }

  .dessert {
    width: 60%;
  }

  .footer {
    margin-top: 1050px;
    flex-direction: row;
    height: 160px;
    padding-top: 40px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer__logo {
    width: 100%;
  }
}

/*# sourceMappingURL=restaurant.css.map */
