/*General */
$primary : #9356DC ;
$secondary :#FF79DA ;
$third : #99E2D0;

@font-face{
    font-family : "shrikhand";
    src:url(../police/Shrikhand-Regular.ttf);
}
@font-face{
    font-family: "roboto";
    src:url(../police/Roboto-Black.ttf);
}

body{
    font-family: shrikand;
    margin : 0;
    width : 100%;
    overflow:unset;
}

h1, h2, h3, h4, h5{
    font-family: roboto;
}
/*---------------------------------------------------------------------------------*/
/*Animation*/
/*Charging bar*/







/*-------------------------------------*/
/*Apparition*/

.entrance{
    animation: apparition  500ms;
}
.plate{
    animation: apparition 1000ms;
}
.dessert{
    animation : apparition 1500ms;
}

@keyframes apparition{
    0%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    90%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
/*-------------------------------------*/
/*Check*/
.plateCategory__choice:active .plateCategory__choice__infos{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.plateCategory__choice:active .checkAnimation{
    animation: sliding 1000ms linear;
    animation-fill-mode: forwards;
    transform-origin: right;
}

@keyframes sliding{
    0%{
        width : 0%;
    }

    100%{
        width : 20%;
      }
}

.plateCategory__choice:active .checkAnimation__icon{
    animation: checkRotate 1000ms linear;
}

@keyframes checkRotate{
    0%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
/*-------------------------------------*/
/*------------------------------------------------------------------------------------------*/


/*Header */

.header{
    display: flex;
    flex-direction: column;
    &__div{
        display: flex;
        flex-direction: row;
        padding-left: 5%;
        height: 60px;
        &__link{
            font-style: none;
            color: black;
            margin-right: 25%;
            margin-top: 20px;
            font-size: larger;
        }
        &__logo{
            
            height: 40px;
            margin-top: 7px;
        }
    }
    &__img{
        object-fit: cover;
        height : 350px;
        width : 100%;
        position: absolute;
        margin-top: 60px;
        z-index: 1;
    }
}
/*--------------------------------------------------------------------------------------------------*/
/* Plates */ 

.plates{
    background-color: #f6f6f6;
    border-radius: 60px 60px 0 0;
    margin-top: -50px;
    z-index: 2;
    position: relative;
    margin-top: 300px;
    width : 100%;
    display: flex;
    flex-direction: column;
    &__title{
        display: flex;
        font-style: italic;
        font-weight: bolder;
        margin-left: 7%;
        font-size: xx-large;
        &-i{
            margin-top: 22px;
            font-size: 25px;
            position: absolute;
            margin-left: 70%;
            z-index: 1;
            &:active{
                background : linear-gradient(to bottom right, $primary, $secondary);
                -webkit-background-clip: text;
	            -webkit-text-fill-color: transparent;
                &+.far{
                    display: none;
                }
            }
        }
    }
    &__link{
        background:linear-gradient(to bottom, $secondary, $primary);
        font-size: x-large;
        color: white;
        padding : 40px;
        padding-bottom: 7px;
        padding-top: 12px;
        border-radius: 60px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        height :30px;
        margin-bottom: 70px;
    }
}

.hidden{
    color : rgba(0,0,0,0);
    z-index: 2;
}

.plateCategory{
    display :flex;
    flex-direction: column;
    margin-left: 7%;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    &__title{
        font-size: large;
        color: #1e1e1e;
        display :flex;
        flex-direction: column;
        margin-left: 1%;
        &__bar{
            margin: 0;
            border-top: 3.5px solid $third;
            width :40px;
            margin-left: 1%;
        }
    }
    &__choice{
        background-color: white;
        border-radius: 20px;
        margin-bottom: 20px;
        display : flex;
        flex-direction: row;
        justify-content: space-between;
        &__infos{
            display: flex;
            flex-direction: column;
            padding-left : 5%; 
            width : 90%;
            justify-content: space-between;
            &-p{
                display: flex;
                justify-content: space-between;
                &-prize{
                    background: none;
                    margin-right: 5%;
                    margin-left: 5%;
                }
            }
            &-title{
                font-size: 20px;
                margin-bottom: 0;
            }
        }
    }
}

.checkAnimation{
    width : 0%;
    overflow: hidden;
    border-radius: 0 20px 20px 0;
    background-color: $third;
    &__icon{
        border-radius: 40px;
        background-color: white;
        padding : 5px;
        font-size: 25px;
        overflow: hidden;
        margin-left: 35%;
        margin-top : 32px;
        color: $third;
    }
}

/*--------------------------------------------------------------------------------------------------*/
/* footer */

.footer{
    background-color: #353535;
    display: flex;
    flex-direction: column;
    padding : 20px;
    padding-bottom: 50px;
    &__logo{
        fill : white;
        width : 120px;
        height: 20px;
        margin-bottom: 20px;
    }
    &__p{
        color :white;
        display: flex;
        flex-direction: row;
        width: 20%;
        margin-left: 5%;
        &-i{
            margin-right: 10px;
            font-size : 15px;
        }
    }
    &__mail{
        color :white;
        display: flex;
        width: 20%;
        margin-left: 5%;
        flex-direction: column;
        &-bouton{
            &:active+.unplayed{
                display: flex;
            }
        }
    }
}
.unplayed{
    display: none;
    color: white;
    position: absolute;
    margin-top : 50px;
}

.fa-handshake{
    margin-right: 5px;
}


/*--------------------------------------------------------------------------------------------------*/
/*Media*/

@media(max-width:275px){
    .header__div__link{
        margin-right: 7%;
    }
    .header__div__logo{
        height: 25px;
    }
    .plates__title{
        width : 50%;
    }
    .plates__link{
        width : 75%;
        padding : 5px;
        font-size: 20px;
    }
}

@media(min-width:275px)and (max-width:380px){
    .header__div__link{
        margin-right: 15%;
    }
    .header__div__logo{
        height: 35px;
    }
}


@media(min-width:480px) and (max-width : 778px){
    .plates__title-i{
        font-size: 30px;
    }
}


@media(min-width : 1050px){
    .plates{
        flex-direction: row;
        flex-wrap: wrap;
        height: 1100px;
        &__title{
            width: 100%;
            height: 30px;
        } 
        &__link{
            margin-top: 390px;
            margin-left: 7%;
            margin-bottom: 0;
        }
    }
    .plateCategory{
        width : 40%;
        height : 400px;
    }
    .dessert{
        width : 60%;
    }
    .footer{
        flex-direction: row;
        height: 160px;
        padding-top: 40px;
        flex-wrap: wrap;
        justify-content: space-around;
        &__logo{
            width : 100%;
        }
    }
    .unplayed{
        margin-left: 0;
    }
}